
body{
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
    text-align: right;  
}
.button_contact_us img{
    position:fixed;
    width: 80px;
    height: 80px;
    
}
.header{
    width: 100%;
    height: 150px;
    padding-top: 40px;
    background-color: antiquewhite;
    text-align: center;
    background-image: url(./picthers/WhatsApp-Image-2019-10-07-at-07.56.27-e1570425847568.jpeg);
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    font-size: 25px;
}
.menu{
    width: 100%-2px;
    background-color: rgb(239, 152, 45);
    height: 40px;
    text-align: center;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}
    .menu_button{
        flex-basis: 1;
        height: 40px;
        text-align: center;    
    }
.main{
    width: 100%;
    background-color: bisque;
    height: auto;
}
    .all_pic{
        flex-basis: 100%;
        display: flex;  
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5px;
 
    }
        .pic_info{
            flex-basis: 22%;
            padding: 1%;
            margin: 0.5%;
            background-color: rgb(245, 212, 169);
            text-align: center;
            justify-content: space-around;
            }
        .pic_info img{
                align-items: center;
                width: 100%;
                border: 1px solid black;
                display:block;
                margin: auto;
                margin-top: 25px;
            }
    .about{
         text-align: center;
         height: auto;
    }
    .menu_prodacts{
        background-color: rgb(199, 222, 100);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:stretch;
        align-content: center;
    }
       .prodact{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:center;
        flex-grow: initial;
        width: 30%;

       } 
            .prodact_name{
                
                flex-basis: 3;
            }
            .prodact_price{

                flex-basis: 1;
            }
.footer{
    width: 100%;
    height: auto;
    background-color: rgb(233, 169, 87);
}
.all_button_footer{ 
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    
}
    .button_footer{
        flex-basis: auto;
        text-align: center;
    }
    .button_footer img{
            width: 45px;
            height: 45px;
            display:block;
            margin: auto;
            margin-top: 5PX;  
        }
@media(max-width:600px)
        {
            .header{
                font-size: 15px;
                height: 100px;
            }
              .all_pic
            {
                flex-direction: column;
            }
        }
@media(max-width:800px)
        {
            .header{
                font-size: 15px;
                height: 100px;
            }
              .all_pic
            {
                flex-direction: column;
            }
        }
@media(max-width:1200px)
        {
            .header{
                font-size: 15px;
                height: 100px;
            }
              .all_pic
            {
                flex-direction: column;
            }
        }
        
                
